/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="number"],
select,
button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

#successMessage, #errorMessage {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

#error {
    color: red;
}

#success {
    color: green;
}

/* Estilo para exibição do resultado do dado */
#diceResultSpan {
    font-weight: bold;
}

/* Estilo para campos de entrada inválidos */
.error {
    border: 1px solid #ff0000;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

/* Estilo para detalhes do personagem */
.character-details {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilos para o elemento de imagem personalizado */
#picture__input {
    display: none;
}

.picture {
    width: 960px;
    height: 1568px;
    background: #222 url('steampunk_background.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
}

.picture:hover {
    color: #777;
    background: #333;
}

.picture:active {
    border-color: #e1b382;
    color: #e1b382;
    background: #444;
}

.picture:focus {
    color: #777;
    background: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}